Django==4.2.7
django-cors-headers==4.3.1
psycopg2-binary==2.9.7
python-dotenv==1.0.0
djangorestframework==3.14.0
django-extensions==3.2.3
pydotplus==2.0.2
djangorestframework-simplejwt==5.3.0
PyJWT==2.8.0
Pillow==10.3.0